.main {
  button {
    border: none;
    background: none;
    color: $color-1;
    text-align: start;
    font-size: 0.7rem;
  }
  .text {
    padding-left: 5%;
  }
  .card-1 {
    margin-top: 20px;
    .imgs {
      height: 300px;
      position: relative;

      .img1-container {
        background: url(#{$path-css}img/office-hp.jpg) center/cover;

        height: 250px;
        width: 65%;
        margin: 10% 50%;
        transform: translateX(-50%);
        z-index: 2;

        position: absolute;
      }

      .img2-container {
        background: url(#{$path-css}img/Deb.jpg) center/cover;
        filter: saturate(0%);

        width: 100%;
        height: 65%;
        margin: 0 auto;
        transform: translateY(65px);
        z-index: 1;
      }
    }
    .text {
      h3 {
        font-family: $font-2;
        font-weight: bolder;
        font-size: 0.8rem;
        margin-top: 80px;
      }
      p {
        font-family: $font-3;
        font-size: 0.6rem;
        margin: 10px 0 10px;
        line-height: 18px;
      }
    }
    @media screen and (max-width: 820px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  .card-2 {
    grid-area: imgs;
    .imgs {
      height: 200px;
      width: 100%;
      position: relative;

      .img3-container {
        background: url(#{$path-css}img/Sendero-Verde-3.jpg) center;
        background-size: cover;
        height: 95%;
        width: 85%;
        margin-top: 40px;
        z-index: 2;

        position: absolute;
      }

      .img4-container {
        background: url(#{$path-css}img/Sendero-Verde-1.jpg) bottom/cover;

        filter: saturate(0%);
        width: 96%;
        height: 100%;
        transform: translate(10px, 80px);

        z-index: 1;
      }
    }
    .text {
      grid-area: text;
      h3 {
        font-family: $font-2;
        font-weight: bolder;
        font-size: 0.8rem;
        margin-top: 100px;
      }
      p {
        font-family: $font-3;
        font-size: 0.6rem;
        margin: 10px 0 10px;
        line-height: 18px;
      }
    }
    @media screen and (max-width: 820px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "text imgs";
    }
  }
  .card-3 {
    .imgs {
      height: 260px;
      width: 180px;
      position: relative;
      margin: 0 auto;

      .img5-container {
        background: url(#{$path-css}img/National-September11-Memorial-1.jpg)
          center;
        background-size: cover;
        height: 100%;
        width: 100%;
        margin-top: 40px;
        z-index: 2;

        position: absolute;
      }

      .img6-container {
        background: url(#{$path-css}img/Dream-Downtown-Hotel-4.jpg) right/cover;
        filter: saturate(0%);
        width: 100%;
        height: 100%;
        transform: translate(-65px, 60px);

        z-index: 1;
      }
    }
    .text {
      h3 {
        font-family: $font-2;
        font-weight: bolder;
        font-size: 0.8rem;
        margin-top: 100px;
      }
      p {
        font-family: $font-3;
        font-size: 0.6rem;
        margin: 10px 0 10px;
        line-height: 18px;
      }
      button {
        display: block;
        padding: 0 0 8px 0;
      }
    }
    @media screen and (max-width: 820px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  .office {
    display: none;

    @media screen and(min-width:840px) {
      display: flex;
    }
  }
  .awards-container {
    background: $color-1;
    color: white;
    padding: 20px;
    font-size: 0.6rem;

    h3 {
      font-family: $font-2;
    }

    p {
      font-family: $font-3;
      padding-top: 20px;
      padding-bottom: 20px;
      line-height: 15px;
      font-size: 0.5rem;
      color: whitesmoke;
    }

    .award {
      border-bottom: 1px solid rgba(245, 245, 245, 0.493);
    }
    span {
      margin-top: 200px;
    }
  }
}
