.main {
  button {
    border: none;
    background: none;
    color: $color-1;
    text-align: start;
    font-size: 0.7rem;
  }
  .text {
    padding-left: 5%;
  }
  .card-1 {
    .imgs {
      height: 189px;
      position: relative;

      .img1-container {
        background: url(#{$path-css}img/office-hp.jpg) center;
        object-fit: cover;
        height: 100%;
        width: 65%;
        margin: 40px 50%;
        transform: translateX(-50%);
        z-index: 2;

        position: absolute;
      }

      .img2-container {
        background: url(#{$path-css}img/Deb.jpg) center/cover;
        filter: saturate(0%);

        width: 100%;
        height: 70%;
        margin: 0 auto;
        transform: translateY(80px);
        z-index: 1;
      }
    }
    .text {
      h3 {
        font-family: $font-2;
        font-weight: bolder;
        font-size: 0.8rem;
        margin-top: 80px;
      }
      p {
        font-family: $font-3;
        font-size: 0.6rem;
        margin: 10px 0 10px;
        line-height: 18px;
      }
    }
  }
  .card-2 {
    .imgs {
      height: 150px;
      width: 200px;
      position: relative;

      .img3-container {
        background: url(#{$path-css}img/Sendero-Verde-3.jpg) center;
        background-size: cover;
        height: 100%;
        width: 100%;
        margin-top: 40px;
        z-index: 2;

        position: absolute;
      }

      .img4-container {
        background: url(#{$path-css}img/Sendero-Verde-1.jpg) center/cover;
        filter: saturate(0%);
        width: 110%;
        height: 100%;
        transform: translate(10px, 75px);

        z-index: 1;
      }
    }
    .text {
      h3 {
        font-family: $font-2;
        font-weight: bolder;
        font-size: 0.8rem;
        margin-top: 100px;
      }
      p {
        font-family: $font-3;
        font-size: 0.6rem;
        margin: 10px 0 10px;
        line-height: 18px;
      }
    }
  }
  .card-3 {
    .imgs {
      height: 150px;
      width: 200px;
      position: relative;

      .img4-container {
        background: url(#{$path-css}img/Sendero-Verde-3.jpg) center;
        background-size: cover;
        height: 100%;
        width: 100%;
        margin-top: 40px;
        z-index: 2;

        position: absolute;
      }

      .img5-container {
        background: url(#{$path-css}img/Sendero-Verde-1.jpg) center/cover;
        filter: saturate(0%);
        width: 110%;
        height: 100%;
        transform: translate(10px, 75px);

        z-index: 1;
      }
    }
    .text {
      h3 {
        font-family: $font-2;
        font-weight: bolder;
        font-size: 0.8rem;
        margin-top: 100px;
      }
      p {
        font-family: $font-3;
        font-size: 0.6rem;
        margin: 10px 0 10px;
        line-height: 18px;
      }
    }
  }
  .office {
    display: none;

    @media screen and(min-width:840px) {
      display: flex;
    }
  }
}
